language: android
sudo: false
jdk:
- oraclejdk8
env:
  global:
  - ANDROID_TOOLS=${ANDROID_HOME}/tools
notifications:
  email: false
before_install:
- nvm install 7
- wget http://services.gradle.org/distributions/gradle-4.2.1-bin.zip
- unzip gradle-4.2.1-bin.zip
- export GRADLE_HOME=$PWD/gradle-4.2.1
- export PATH=${GRADLE_HOME}/bin:${ANDROID_HOME}:${ANDROID_HOME}/emulator:${ANDROID_TOOLS}:${ANDROID_TOOLS}/bin:${ANDROID_HOME}/platform-tools:$PATH
- node --version
- gradle --version
- echo y | android update sdk -u --filter android-25
android:
  components:
  - tools
  - android-26
install:
- npm cache clean
- npm install
- npm install -g cordova
before_script:
- cordova platform rm android
- cordova platform add android@6.3.0
script:
- cordova prepare
- cordova build android --release
release:
- exit 0
deploy:
  provider: releases
  api_key: ${GH_TOKEN}
  file: "/home/travis/build/healyum/GeokH-app/platforms/android/build/outputs/apk/android-release-unsigned.apk"
  skip_cleanup: true
  on:
    tags: true