<html>
  <head>
        <title>fonts</title>
	<link type="text/css" rel="stylesheet" href="fonts/fonts.css">
  </head>
  <body>
    <div style="font-family:{{font.family}};">
      <div>
	Primary font : 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;</div>
      <div style="font-weight:{{font.weight}};">
	Primary font bold: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
      </div>
    </div>
  </body>
</html>
