<html>
  <head>
    <title>Accueil</title>
    <link type="text/css" rel="stylesheet" href="css/bonne_reponse_entrepreneur.css">
  </head>
  <body>
    <div id="main">
      
      <div id="logo">
      </div>
      
      <div id="reponse">
	BONNE R&Eacute;PONSE !
      </div>
      
      <div id="photo">
      </div>
      
      <div id="info">
	L'ENTREPRENEUR EST <span id="nom_entrepreneur">CHARLES CORNILLE</span>
      </div>
      
      <div id="etoile">
      </div>

      <div id="points">
	+500 POINTS POUR BONNE R&Eacute;PONSE
      </div>

      <div id="score">
	850
      </div>
      
      <div id="boutons">
	
	<div id="bouton_fiche">
	</div>

	<div id="bouton_score">
	</div>
      
      </div>
    </div>
    
    <div id="footer">
    </div>
    
  </body>  
</html>
