<html>
  <head>
    <title>Conditions</title>
    <link type="text/css" rel="stylesheet" href="css/conditions.css">
  </head>
  <body>
    <div id="main">
    
      <div id="logo">
      </div>
    
      <div id="titre">
	<h1>CONDITIONS D'UTILISATION</h1>
	<p>En accédant à « Geok’h », vous acceptez les <br/>
	  <u>conditions suivantes:</u></p>
      </div>

      <div id="conditions">
	<h2>G&eacute;n&eacute;ralit&eacute;s</h2>

        <p>
          Vous êtes légalement responsable du support utilisé et des dommages ou dégâts liés au support et qui
          pourraient intervenir lors du « geok’h ». Il vous est demandé de prendre connaissance et de respecter les
          règles du jeu.
          L’application « geok’h » est gratuite mais ne saurait être utilisée pour une fonction autre que celle pour
          laquelle elle a été conçue. Il est formellement interdit de copier ou d’utiliser le tout ou une partie de «
          geok’h » à des fins commerciales. Vous vous engagez a adopter un comportement correct et à respecter les
          règles de bonne conduite ainsi que le réglement de l’Universite (langage approprié , respect du matériel et
          des lieux, respect des personnes…).
        </p>

        <h2>Respect du matériel et des lieux.</h2>
	<p>
	  Il est strictement interdit de déplacer des balises de leur lieu initial. De même qu’est strictement interdite
          la dégradation des balises et des lieux de l’activité. Veillez à oeuvrer dans le respect de l’infrastructure du
          Campus universitaire de Lille 1. Toute dégradation sera passible de sanctions. Si toutefois vous trouviez une
          balise hors de son lieu initial, prévenez le HubHouse (numéro disponible sur la surface de la balise).
	</p>

        <h2>Choix du nom d’équipe.</h2>
        <p>
            Concernant le nom d’équipe, vous acceptez de ne pas choisir de contenu abusif, obscène, vulgaire,
            diffamatoire, choquant, menaçant, a caractère sexuel ou autre qui peut transgresser les lois en vigueur.
        </p>

        <br><br>
      </div>

      <div id="bouton">
      </div>
    </div>

    <div id="footer">
    </div>
  </body>
</html>
