<html>
  <head>
    <title>Accueil</title>
    <link type="text/css" rel="stylesheet" href="css/credits.css">
  </head>
  <body>
        <div id="main">
    
      <div id="logo">
      </div>
    
      <div id="titre">
	CR&Eacute;DITS
      </div>

      <div id="logo_universite">
      </div>

      <div id="logo_ipm">
      </div>

      <div id="dev">
	
	<h3>D&Eacute;VELOPPEURS</h3>

        Antoine Durigneux <br>
        Quentin Coët<br>
        Pauline Goblot<br>
        Raphael Bauduin<br>
	
      </div>

      <div id="bouton">
      </div>
    </div>

    <div id="footer">
    </div>

  </body>  
</html>
