<html>
  <head>
    <title>Conditions</title>
    <link type="text/css" rel="stylesheet" href="css/equipe_niveau_parcours.css">
  </head>
  <body>
    <div id="main">
      
      <div id="logo">
      </div>
      
      
      <div class="info">
	<div id="label"> &Eacute;QUIPE </div>
	<div id="input"></div>
      </div>
      
      <div class="info">
	<div id="label"></div>
	<div id="input"></div>
      </div>

      <div class="info">
	<div id="label"></div>
	<div id="input"></div>
      </div>

      <div id="bouton">
      </div>
      
    </div>

    <div id="footer">
    </div>

  </body>
</html>
