<html>
  <head>
    <title>Bonne r&eacute;ponse</title>
    <link type="text/css" rel="stylesheet" href="css/mauvaise_reponse.css">
  </head>
  <body>
    <div id="main">
      
      <div id="logo">
      </div>
      
      <div id="reponse">
	MAUVAISE R&Eacute;PONSE !
      </div>    

      <div id="etoile">
      </div>

      <div id="points">
	-50 PTS POUR MAUVAISE R&Eacute;PONSE -150 PTS PARI&Eacute;S
      </div>

      <div id="score">
	50
      </div>

        
      <div id="conditions">
	<h2>VOICI LA BONNE R&Eacute;PONSE :</h2>
	
	<ul>
	  <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis venenatis auctor lacus vel facilisis. Pellentesque posuere, leo ac laoreet ornare, tortor enim consectetur tortor, a commodo leo magna sit amet nibh. </li>
	  <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis venenatis auctor lacus vel facilisis. Pellentesque posuere, leo ac laoreet ornare, tortor enim consectetur tortor, a commodo leo magna sit amet nibh. </li>
	  <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis venenatis auctor lacus vel facilisis. Pellentesque posuere, leo ac laoreet ornare, tortor enim consectetur tortor, a commodo leo magna sit amet nibh. </li>
	  <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis venenatis auctor lacus vel facilisis. Pellentesque posuere, leo ac laoreet ornare, tortor enim consectetur tortor, a commodo leo magna sit amet nibh. </li>
	  <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis venenatis auctor lacus vel facilisis. Pellentesque posuere, leo ac laoreet ornare, tortor enim consectetur tortor, a commodo leo magna sit amet nibh. </li>
	</ul>

      </div>

      <div id="bouton">
      </div>
    </div>
    
    <div id="footer">
    </div>

  </body>  
</html>
