<html>
  <head>
        <title>conditions</title>
	<link type="text/css" rel="stylesheet" href="css/conditions.css">
  </head>
  <body>
    <div class="view" style="background-image:url('img/fake_background.png');">
      
      <div class="header">
	<div class="logo header_logo">
	  <img src="img/fake_logo.png">
	</div>
      </div>

      <div class="main">
	
	<div class="conditions main__conditions">
	  <h1>LOREM IPSUM</h1>
	  <p>
	    Duis bibendum ipsum mauris, ac<br/> <u>pellentesque nisi iaculis eget.</u></p>
	</div>
	
	<div class="box_overflow main__box_overflow">

	  <div class="box_overflow__item">
	    <h2>LOREM</h2>
	    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac dapibus lacus, ac suscipit turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus maximus sed velit sed tincidunt. Aliquam venenatis in ipsum a laoreet. Fusce placerat tortor quam, sit amet suscipit leo ultricies eget. Nullam auctor accumsan fringilla. Cras interdum nisi ac lectus sollicitudin, eu lacinia elit laoreet. Vestibulum scelerisque, ex non pretium feugiat, risus erat condimentum turpis, nec facilisis sapien elit nec odio. Pellentesque ac nulla maximus, accumsan est et, laoreet arcu. Fusce faucibus ultrices urna in sagittis. Pellentesque eu commodo nisi, nec finibus erat. Suspendisse malesuada, augue quis finibus posuere, est risus tempus erat, nec mollis dolor lacus eget ipsum. </p>
	  </div>
	  

	  <div class="box_overflow__item">
	    <h2>IPSUM</h2>
	    <p>Ut dictum in augue dictum sollicitudin. Nam massa risus, facilisis et posuere vitae, aliquet nec ante. Mauris eleifend molestie arcu, eget placerat neque dignissim ac. Nullam viverra nibh nisi, in faucibus turpis facilisis vitae. Nulla maximus nunc sapien, quis condimentum libero fermentum id. Praesent posuere, arcu et euismod elementum, sapien ante accumsan nulla, in interdum libero arcu ac lorem. Phasellus vel nibh porttitor, vulputate purus in, lacinia ligula. Quisque vehicula malesuada lorem, id venenatis nisl consectetur in. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce semper lectus vitae libero fringilla, id ornare sem lacinia. Nulla hendrerit dignissim placerat. Suspendisse vulputate orci justo, feugiat egestas dui dignissim eget. Quisque vel purus diam. Curabitur condimentum gravida dui. Curabitur dapibus congue quam, feugiat ornare turpis vulputate quis. </p>
	  </div>
	</div>
	
	<div>
	  <button class="button main__button"> <b> ACTION ! </b> </button>
	</div>
	
      </div> <!-- main -->
      
      <div class="footer">
	<img src="img/fake_footer.png">
      </div>

    </div> <!-- view -->
  </body>
</html>
