<html>
  <head>
        <title>conditions</title>
	<link type="text/css" rel="stylesheet" href="css/conditions.css">
  </head>
  <body>
    <div class="view" style="background-image:url({{ background }});">
      
      <div class="header">
	<div class="logo header_logo">
	  <img src="{{ logo.url }}">
	</div>
      </div> <!-- header -->
      
      <div class="main">
	
	<div class="conditions main__conditions">
	  <h1 style="color:{{ conditions.color }}">{{ conditions.title }}</h1>
	  <p>
	    {{ conditions.text }}<br/> <u> {{ conditions.fake_link }}</u></p>
	</div>
	
	<div class="box_overflow main__box_overflow">
	  
	  <div class="box_overflow__item">
	    <h2 style="color:{{ item1.color }}">{{ item1.title }}</h2>
	    <p> {{ item1.text }}</p>
	  </div>
	  
	  
	  <div class="box_overflow__item">
	    <h2 style="color:{{ item2.color }}"> {{ item2.title }}</h2>
	    <p>  {{ item2.text }} </p>
	  </div>


	  <div class="box_overflow__item">
	    <h2 style="color:{{ item3.color }}"> {{ item3.title }}</h2>
	    <p>  {{ item3.text }} </p>
	  </div>	  

	</div>
	
	<button class="button main__button"
                style="background:{{ button.bgcolor }}; color:{{ button.color }};">
          <b>{{ button.text }}</b> </button>
	
      </div> <!-- main -->
      
      <div class="footer">
	<img src="{{ footer }}">
      </div>
      
    </div> <!-- view -->
  </body>
</html>
