<html>
  <head>
        <title>conditions</title>
	<link type="text/css" rel="stylesheet" href="css/conditions.css">
  </head>
  <body>
    <div class="view" style="background-image:url(img&#x2F;spring.png);">
      
      <div class="header">
	<div class="logo header_logo">
	  <img src="img&#x2F;conditions_logo.png">
	</div>
      </div> <!-- header -->
      
      <div class="main">
	
	<div class="conditions main__conditions">
	  <h1 style="color:#2CD100">CONDITIONS D&#39;UTILISATION</h1>
	  <p>
	    En accédant à « Geok’h », vous acceptez les<br/> <u> conditions suivantes:</u></p>
	</div>
	
	<div class="box_overflow main__box_overflow">
	  
	  <div class="box_overflow__item">
	    <h2 style="color:#2CD100">GÉNÉRALITÉS</h2>
	    <p> Vous êtes légalement responsable du support utilisé et des dommages ou dégâts liés au support et quipourraient intervenir lors du « geok’h ». Il vous est demandé de prendre connaissance et de respecter les règles du jeu.L’application « geok’h » est gratuite mais ne saurait être utilisée pour une fonction autre que celle pour laquelle elle a été conçue. Il est formellement interdit de copier ou d’utiliser le tout ou une partie de « geok’h » à des fins commerciales. Vous vous engagez a adopter un comportement correct et à respecter les règles de bonne conduite ainsi que le réglement de l’Universite (langage approprié, respect du matériel et des lieux, respect des personnes…).</p>
	  </div>
	  
	  
	  <div class="box_overflow__item">
	    <h2 style="color:#2CD100"> Respect du matériel et des lieux.</h2>
	    <p>  Vous êtes légalement responsable du support utilisé et des dommages ou dégâts liés au support et qui pourraient intervenir lors du « geok’h ». Il vous est demandé de prendre connaissance et de respecter les règles du jeu. L’application « geok’h » est gratuite mais ne saurait être utilisée pour une fonction autre que celle pour laquelle elle a été conçue. Il est formellement interdit de copier ou d’utiliser le tout ou une partie de « geok’h » à des fins commerciales. Vous vous engagez a adopter un comportement correct et à respecter les règles de bonne conduite ainsi que le réglement de l’Universite (langage approprié , respect du matériel et des lieux, respect des personnes…). </p>
	  </div>


	  <div class="box_overflow__item">
	    <h2 style="color:#2CD100"> Choix du nom d’équipe.</h2>
	    <p>  Concernant le nom d’équipe, vous acceptez de ne pas choisir de contenu abusif, obscène, vulgaire, diffamatoire, choquant, menaçant, a caractère sexuel ou autre qui peut transgresser les lois en vigueur. </p>
	  </div>	  

	</div>
	
	<button class="button main__button"
                style="background:#FFB400; color:white;">
          <b>COMPRIS !</b> </button>
	
      </div> <!-- main -->
      
      <div class="footer">
	<img src="img&#x2F;conditions_footer.png">
      </div>
      
    </div> <!-- view -->
  </body>
</html>
