<html>

  <head>
        <title>start</title>
        <link type="text/css" rel="stylesheet" href="css/bar.css">
  </head>

  <body>
	<div class="bar" 
	     style="background:linear-gradient(to right, {{ bar.leftColor }}, {{ bar.rightColor }})">	
	      <h1>{{ bar.text }}</h1> 
        </div>   
  </body>

</html>
