<html>

  <head>
        <title>start</title>
        <link type="text/css" rel="stylesheet" href="css/bar_box.css">
  </head>

  <body>
      <div class="bar_box">    
    
	<div class="bar" 
	     style="background:linear-gradient(to right, {{ bar.leftColor }}, {{ bar.rightColor }});color: {{ bar.textColor }}">	
	      {{ bar.text }} 
        </div>
      
        <div class="box">
        </div>

    </div>
       
  </body>

</html>
