body {
    background-color:		white;
    background-image:		url("../img/conditions/conditions_logo_transparence_2.png");
    background-repeat:		no-repeat;
    background-size:		350px;
    background-position:	180 -90;
}

#main {
    /*background-color:		grey;*/
    height:			95%;
}

#logo {
    background-image:		url("../img/conditions/conditions_logo.png");
    background-size:		45%;
    background-position:	center;
    background-repeat:		no-repeat;
    height:			17%;
    margin-top:			7%;
}

#titre {
    /*background-color:		green;*/
    height:			8%;
    margin-top:			9%;
}


#titre h1 {
    color:			#E7475E;
    font-size:			small;
    text-align:			center;
    font-family:		sans-serif;
}

#titre p {
    font-size:			small;
    text-align:			center;
    font-family:		sans-serif;
    margin-top:			-2%;
}

::-webkit-scrollbar {
      width: 4px;
} /* this targets the default scrollbar (compulsory) */

::-webkit-scrollbar-track {
      background-color: white;
} /* the new scrollbar will have a flat appearance with the set background color */

::-webkit-scrollbar-button {
      background-color: white;
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */

::-webkit-scrollbar-thumb {
      background-color: #E7475E; 
} /* this will style the thumb, ignoring the track */

#conditions	 {
    /*background-color:		grey;*/
    height:			50%;
    width:			82%;
    margin-top:			4%;
    margin-left:		auto;
    margin-right:		auto;
    overflow:			scroll;
}

#conditions h2 {
    color:			#E7475E;
    font-size:			small;
    text-align:			left;
    font-family:		sans-serif;
}

#conditions p {
    font-size:			small;
    font-family:		sans-serif;
    width:			94%;
}


#bouton {
    background-image:		url("../img/conditions/conditions_bouton.png");
    background-size:		55%;
    background-position:	center;
    background-repeat:		no-repeat;
    height:			9%;
    margin-top:			7%;
    filter:			invert(1);
}

#footer {
    background-image:		url("../img/conditions/conditions_footer.png");
    background-repeat:		no-repeat;
    background-size:		100%;
    height:			1%;
}