<?xml version='1.0' encoding='utf-8'?>
<widget id="com.hubhouse.geokh" version="1.0.1" xmlns="http://www.w3.org/ns/widgets"
        xmlns:gap="http://java.sun.com/JSP/Page">
    <name>GeokH</name>

    <author email="olivier.lanselle@univ-lille1.fr" href="http://hubhouse.univ-lille1.fr/Accueil/">
        Equipe HubHouse.
    </author>

    <description>
        GeoK'H est une application de geocatching proposée par le Hubhouse.
    </description>


    <content src="index.html"/>
    <!--<access origin="*" />-->

    <icon src="www/img/logo.png" platform="android" density="ldpi"/>
    <icon src="www/img/logo.png" platform="android" density="mdpi"/>
    <icon src="www/img/logo.png" platform="android" density="hdpi"/>
    <icon src="www/img/logo.png" platform="android" density="xhdpi"/>

    <preference name="orientation" value="portrait"/>
    <gap:plugin name="com.indigoway.cordova.whitelist.whitelistplugin" />
    <access origin="http://*" />


</widget>
