<html>
  <head>
        <title>images</title>
	<link type="text/css" rel="stylesheet" href="css/images.css">
  </head>
  <body>
    logo<br/>
    <img src="{{logo}}">
    </br>footer<br/>
    <img src="{{footer}}">
    </br>background css</br>
    <div class="background_css" 
	 style="background-image:url('{{background}}');">
    </div>
    </br>barre<br/>
    <div class="bar" 
	 style="background:linear-gradient(to right, {{ bar.leftColor }}, {{ bar.rightColor }})">  
    </div>
  </body>
</html>
