<html>

  <head>
        <title>start</title>
        <link type="text/css" rel="stylesheet" href="css/start.css">
  </head>

  <body>
    <div class="start">
      <div class="logo">
	<img src="{{ logo.url }}">
      </div>
      <div>
	<button class="button start__button" style="background:{{button.bgcolor}}; color:{{button.color}}"> {{button.text}} </button>
      </div>
    </div>    
  </body>


</html>
