.logo {
    display:	block;
    height:	123px;
    width:	231px;
}

.footer {
    display:	block;
    height:	6px;
    width:	375px;
}

.background_css {
    width:	750px;
    height:	1334px;
}

.bar {
    width:	400px;
    height:	50px;
    background:	linear-gradient(to right, black, grey);
}