.view {
    width:		360px;
    height:		640px;
    font-family:	'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:		small;
    text-align:		center;
    
    background-size:	330px;
    background-repeat:	no-repeat;
    background-position:	125px -70px;
}

.header {
    padding-top:	20px;
}

.header_logo {
    height:		120px;
    width:		230px;
    margin:		auto;
}

.logo img {
    max-height:		120px;
    max-width:		230px;
}

.main {
    height:		455px;
    width:		320px;
    margin:		auto;
   /*border:		2px solid black;*/
}

.bar_box {
}

.main__bar_box {
    margin-top:		20px;
}

.bar {
    height:		30px;
}

.main__bar {
    line-height:	30px;
}

.box {
    width:		180px;
    margin:		auto;
    /*border:		2px solid red;*/
}

.box__logo {
    width:		180px;
    height:		96px;
    margin:		auto;
    margin-top:		20px;
}

.box__logo img {
    max-width:		180px;
}

.developer {
    /*border:	2px solid black;*/
}

.developer ul {
    list-style-type:	none;
    text-align:		left;
}

.button {
    border:		none;
    border-radius:	30px;
    height:		40px;
    width:		220px;
    margin-top:		10px;
}

.footer img {
    max-width:		360px;
}
