<html>
  <head>
        <title>accueil</title>
	<link type="text/css" rel="stylesheet" href="css/accueil.css">
  </head>
  <body>
    <div class="view" style="background-image:url('{{ background }}');">
      
      <div class="main">
	
	<div class="logo accueil__logo">
	  <img src="{{ logo.url }}">
	</div>
	
	<div>
	  <button class="button main__button"
		  style="background:{{ button.bgcolor }}; color:{{ button.color }};"> 
	    {{ button.text }} </button>
	</div>
	
	<div class="main__paragraph main__paragraph__first">
	  <p> {{first_paragraph.text }}</p> 
	</div>
	
	<div class="main__paragraph">
	  <p> {{ second_paragraph.text }} <a href="#">{{ second_paragraph.link }}</a> </p>
	</div>
	
      </div> <!-- main -->
      
      <div class="footer">
	<img src="{{ footer }}">
      </div>

    </div> <!-- view -->
  </body>
</html>
