<html>
  <head>
        <title>accueil</title>
	<link type="text/css" rel="stylesheet" href="css/accueil.css">
  </head>
  <body>
    <div class="view" style="background-image:url('img/fake_background.png');">
      
      <div class="main">
	
	<div class="logo accueil__logo">
	  <img src="img/fake_logo.png">
	</div>
	
	<div>
	  <button class="button main__button"> Action </button>
	</div>
	
	<div class="main__paragraph main__paragraph__first">
	  <p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p> 
	</div>
	
	<div class="main__paragraph">
	  <p>Lorem ipsum dolor sit amet, <a href="#">consectetur adipiscing.</a> </p>
	</div>
	
      </div> <!-- main -->
      
      <div class="footer">
	<img src="img/fake_footer.png">
      </div>

    </div> <!-- view -->
  </body>
</html>
