<html>
  <head>
        <title>accueil</title>
	<link type="text/css" rel="stylesheet" href="css/accueil.css">
  </head>
  <body>
    <div class="view" style="background-image:url('img&#x2F;accueil&#x2F;accueil_background.jpeg');">
      
      <div class="main">
	
	<div class="logo accueil__logo">
	  <img src="img&#x2F;accueil&#x2F;accueil_logo.png">
	</div>
	
	<div>
	  <button class="button main__button"
		  style="background:#38B349; color:white;"> 
	    JOUER </button>
	</div>
	
	<div class="main__paragraph main__paragraph__first">
	  <p> Geok&#39;H est une application de geocaching proposee par le Hubhouse.</p> 
	</div>
	
	<div class="main__paragraph">
	  <p> En jouant une partie vous acceptez les  <a href="#">conditions generales d&#39;utilisation.</a> </p>
	</div>
	
      </div> <!-- main -->
      
      <div class="footer">
	<img src="img&#x2F;accueil&#x2F;accueil_footer.png">
      </div>

    </div> <!-- view -->
  </body>
</html>
