<html>
  <head>
        <title>colors</title>
	<link type="text/css" rel="stylesheet" href="css/colors.css">
  </head>
  <body>
    <div class="square" style="background-color:{{ green.code }}">
      {{ green.description }}
    </div>
    <div class="square" style="background-color:{{ red.code }}">
      {{ red.description }}
    </div>
  </body>
</html>
