/**
 * Style de l'application GeoK'H
 * Auteurs : Goblot Pauline et Bauduin Raphael
 * 
 * Organisation : 
 * 1. General
 * 2. Accueil
 * 3. Lancement d'une partie
 * 4. recherche d'une balise
 * 5. question d'une balise
 * 6. reponse à la question d'une balise
 */

/****************************************/
/* 1. General                           */
/****************************************/
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    width:100%;
    margin:0px;
    padding:0px;
}

.app {
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.app header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    height: 120px;
} 

.app header h1 {
    margin: 0;
}

.app header img {
    height: 100px;
    padding: 10px 0;
}

.view {
    position: absolute;
    top: 120px; left: 0; bottom: 0; right: 0;
    padding: 14px 28px;
    overflow-x: hidden;
    overflow-y: scoll;
    -webkit-overflow-scrolling: touch; 
    display: none;
    text-align: center;
}

button, 
input[type='submit'] {
    margin: 0;
    text-transform: uppercase;
    border: none;
    right: 0;
    left: 0;
    bottom: 0;
    height: 45px;
    line-height: 45px;
    width: 100%;
    font-weight: bold;
    position: fixed;    
    background: #38b449;
    color: #ffffff;
}
button:active, 
input[type='submit']:active {
    background: #2da038;
}

.correction .errone {
    color: #d71920;
}

.correction .correct {
    color: #38b449;
}

footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 0;
    background: blue;
}

/****************************************/
/* 2. Accueil                           */
/****************************************/
#btn_connexion {
    /*bottom: 50px;*/
}

/****************************************/
/* 3. Lancement d'une partie            */
/****************************************/
#form_connexion .inpt_text, 
#form_connexion .form_groupe {
    margin: 20px 0px;
    text-align: left;
} 

#form_connexion .inpt_text {
    border: 1px solid #D0D0D0;
    padding: 0 7px;
}

#form_connexion .inpt_text input {
    border: 0;
    box-shadow: 0 0 0 transparent;
    height: 33px;
    line-height: 33px;
}
#form_connexion .inpt_text input:focus {
    outline: 0;
}

#form_connexion .inpt_text label {
    display: inline-block;
    width: 65px;
}

#form_connexion .form_groupe {
    height: 37px;
    line-height: 37px;
}

#form_connexion .form_groupe p {
    margin: 0 0 0 8px;
    display: inline-block;
    width: 65px;
}

#form_connexion .form_groupe label {
    height: 37px;
    line-height: 37px;
    display: inline-block;
    margin: 0 13px 0 5px;
}
#form_connexion #form_parcours.form_groupe label {
    margin: 0 8px 0 4px;
}

#form_connexion input[type='submit'] {
    /*bottom: 50px;*/
}


/****************************************/
/* 4. recherche d'une balise            */
/****************************************/
#compass .score,
#compass .distance {
    float: left;
}

#compass .temps,
#compass .precision {
    float: right;
}

#compass .distance,
#compass .precision {
    margin: 175px 0 45px 0;
}

#compass .conseil {
    clear: both;
    text-align: center;
}

#compass .score p,
#compass .temps p,
#compass .conseil p,
#compass .distance p,
#compass .precision p {
    margin: 0 0 7px;
}

#compass .score p.valeur,
#compass .temps p.valeur,
#compass .distance p.valeur,
#compass .precision p.valeur {
    margin: 5px 0 10px;
}

#compass .conseil p.valeur {
    margin: 5px 0;
}

#compass_elt {
    clear: both;
    margin: 0;
    width: 165px;
}

#btn_flash {
    /*bottom: 0;*/
}

/****************************************/
/* 5. question d'une balise             */
/****************************************/
#question .score {
    float: left;
}

#question .difficulte {
    float: right;
}

#question .lib_question {
    clear: both;
    text-align: left;
}

#question .score p,
#question .difficulte p,
#question .lib_question p {
    margin: 0 0 7px;
}

#question .score p.valeur,
#question .difficulte p.valeur,
#question .lib_question p.valeur {
    margin: 5px 0 10px;
}

#form_question {
    text-align: left;
    margin: 0 0 50px 0;
}

#form_question .form_groupe {
    margin: 7px 0;
}

#form_question .form_groupe input {
    margin: 7px 7px 0 0;
}

#form_question .pari {
    margin: 14px 0;
    text-align: center;
}

#form_question .pari label {
    margin: 0 10px 0 0;
}

#form_question .pari span {
    margin: 0 0 0 10px;
}

#form_question #form_pari {
    width: 75px;
    height: 36px;
    padding: 0 10px;
}

#form_question input[type="submit"] {
    bottom: 0;
}

/*****************************************/
/* 6. reponse à la question d'une balise */              
/*****************************************/
#reponse .score .valeur, 
#reponse .score .valeur+p{
    display: inline-block;
    margin: 3px;
}

#reponse .score p:first-child {
    margin: 0;
}

#reponse .bonus.correct {
    margin: 0;
}
#reponse .retour {
    text-align: left;
    margin: 0 0 45px 0;
}

#reponse .retour .correct, 
#reponse .retour .errone {
    margin: 12px 0 6px;
}

#reponse .retour .valeur {
    margin: 0;
}

#reponsre .retour ul {
    margin: 5px 0;
    padding: 0 0 0 18px;
}

/*****************************************/
/* 7. listes des entrepreneurs           */              
/*****************************************/
#entrepreneurs .ent_min {
    margin: 7px 14px;
}

#entrepreneurs .ents_miniatures a {
    display: inline-block;
}

#entrepreneurs .ent_question {
    font-weight: bold;
}

#entrepreneurs #ents_presentation {
    text-align: left;
}

#entrepreneurs .ent_nom {
    text-align: center;
    font-size: 1.3em;
    margin: 0;
}

/*****************************************/
/* 8. l'entrepreneur mystere             */              
/*****************************************/
#entrepreneur_mystere .ent_img {
    margin: 7px 50px;
}

/*****************************************/
/* 9. Scores finaux                      */              
/*****************************************/
#scores {
    text-align: left;
}

#scores p:first-child {
    text-align: center;
    font-weight: bold;
}

#scores .valeur {
    text-align: right;
    display: inline-block;
}

#scores p span:first-child {
    display: inline-block;
    width: 250px;
}