#reponse .score .valeur,
#reponse .score .valeur + p
{
    display: inline-block;
    margin: 3px;
}

#reponse .score p:first-child
{
    margin: 0;
}

#reponse .bonus.correct
{
    margin: 0;
}

#reponse .retour
{
    text-align: left;
    margin: 0 0 45px 0;
}

#reponse .retour .correct,
#reponse .retour .errone
{
    margin: 12px 0 6px;
}

#reponse .retour .valeur
{
    margin: 0;
}

#reponse .retour ul
{
    margin: 5px 0;
    padding: 0 0 0 18px;
}

.right
{
    width: 50%;
    left: 50%;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left: solid #2c7f3b;
}

.left
{
    width: 50%;
}