.entete .difficulte
{
    width: 21%;
    display: inline-block;
    vertical-align: bottom;
}

p.banniere_balise
{
    margin: 0;
}

.lib_question
{
    color: #E7475E;
    font-size: 1.4em;
    font-family: sans-serif;
    font-weight: bold;
    padding: 0 20px;
    margin-bottom: 46px;
}

.reponses input[type="checkbox"], .reponses input[type="radio"]
{
}

.reponses label
{
    margin-bottom:10px;
}

.reponses .form_groupe
{
    text-align: left;
    padding: 0 20px 10px 20px;
    font-size:1.3em;
    font-size:0.9em;
}

.styled-select {
    background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
    height: 29px;
    overflow: hidden;
    width: 240px;
}

.styled-select select {
    background: transparent;
    border: none;
    font-size: 14px;
    height: 29px;
    padding: 5px; /* If you add too much padding here, the options won't show in IE */
    width: 268px;
    text-align: center;
}

.styled-select.slate {
    background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;
    height: 34px;
    width: 240px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.styled-select.slate select {
    border: 1px solid #ccc;
    font-size: 16px;
    height: 34px;
    width: 268px;
}

.slate   { background-color: #ddd; }
.slate select   { color: #000; }

.pari
{
    margin: 20px 0;
}

#btn_valider_question, #btn_compass
{
    width: 40%;
    border: 0;
    background-color: #ff3366;
    color: white;
    font-size: 1.4em;
    border-radius: 50px;
    margin-top: 42px;
    height: 64px;
}

#btn_valider_question, #btn_compass
{
    background-color: #37b34a;
}
