#reponse .logo {
    margin-bottom: 20px;
}

.retour .valeur {
    padding: 0 50px;
    font-size: 1.1em;
    font-family: sans-serif;
    text-align: justify;
    word-wrap: break-word;
    hyphens: auto;
}

.correct.banniere_balise {
    background-color: #38b449;
}

.partial.banniere_balise {
    background-color: #ffa717;
}