/**
 * Style de l'application GeoK'H
 * Auteurs : Goblot Pauline et Bauduin Raphael
 * 
 * Organisation : 
 * 1. General
 * 2. Accueil
 * 3. Lancement d'une partie
 * 4. recherche d'une balise
 * 5. question d'une balise
 * 6. reponse à la question d'une balise
 */

/****************************************/
/* 1. General                           */
/****************************************/
*
{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body
{
    -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
    -webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.view
{
    position: absolute;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    overflow-x: hidden;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    
    display: none;
    
    text-align: center;

    width: 360px;
    height: 640px;
}

.dev
{
    text-align: center;
}

.correction .errone
{
    color: #d71920;
}

.correction .correct
{
    color: #38b449;
}

/* error */
input.error
{
    background: red;
    color: white;
}

label.error
{
    color: red;
}

/*credits*/
.img_credits
{
    width: 90%;
}