#entrepreneurs .ent_min {
    margin: 7px 14px;
    width: 10rem;
}

#entrepreneurs .ents_miniatures a {
    display: inline-block;
}

#entrepreneurs .ent_question {
    font-weight: bold;
}

#entrepreneurs #ents_presentation {
    text-align: left;
}

#entrepreneurs .ent_nom {
    text-align: center;
    font-size: 1.3em;
    margin: 0;
}

/* 8. l'entrepreneur mystere  */

#entrepreneur_mystere .ent_img {
    margin: 7px 50px;
}

.ent_reponse{
    padding: 0 20px 10px 20px;
    font-size: 1.2em;
    text-align: justify;
}

.entrepreneur_bouton_conteneur{
    margin-bottom:1.5rem;
}

.ents_miniatures