.info {
    background-color: white;
    margin-top: 7%;
    margin-left: auto;
    margin-right: auto;
    height: 12%;
    width: 90%;
    border: 1px solid #EBEBE0;
    text-align: center;
    color: white;
    font-size: small;
    padding-bottom: 17px;
}

.info h3 {
    margin-top: 0;
    background: salmon url("../img/partie/banniere.png");
    font-size: 1.8em;
}

.info label {
    color: black;
}

#bouton_commencer_partie {
    background-position-x: center;
    width: 60%;
    border: 0;
    background-color: #ff3366;
    color: white;
    font-size: 1.4em;
    border-radius: 50px;
    margin-top: 42px;
}

/* scores */

#scores span {
    font-size: 1.5rem;
    font-weight: bold;
}

p.niveau {
    margin: 0;
}